body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}
.contenedor_total{
    display: flex;
}
.contactos{
    min-height: 100vh;
    border: 1px solid #bec1bb;
    border-right: none;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
}
li {
    width: 290px;
    list-style: none;
}

/*Primera Foto*/
.container_foto1{
    border-bottom: 0.5px solid #bec1bb;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.mini_foto{
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
}
.mini_foto img{
    width: 100%;
    height: auto;
}
.foto_1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
}
.descripcion{
    justify-content: start;
    text-align: left;
    line-height: 0.1;
    width: 100%;
}
.nombre{
    font-size: 15px;
}
.estado{
    font-size: 10px;
    color: #bec1bb;
}
.iconos{
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    padding: 15px 15px 15px 10px;
    color: #bec1bb;
}
.icon1{
    margin: 0 10px;
    font-size: 20px;
}
.icon2{
    font-size: 20px;
}

/*Boton*/
.container_boton{
    padding: 40px 20px 40px 30px;
    border: 0.5px solid #e8ebe4;
}
.boton {
    background-color: #A491D2; 
    color: white; 
    padding: 10px 30px; 
    border: 0.5px solid #e8ebe4; 
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s; 
}

/*Resto de contactos*/

.box_fotos{
    display: flex;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    justify-content: space-evenly;
    border: 1px solid #e8ebe4;
    border-left: none;
}
.box_s_fotos{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 8px;
        width: 35%;
}
.estandar_foto{
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    border: 1px solid #e8ebe4;
}
.estandar_foto img{
    width: 100%;
    height: auto;
}
.text_foto{
    display: flex;
    flex-direction: column;
    line-height: 0.3;
    text-align: start;
    width: 70%;
}
.nombres{
    font-size: 16px;
}
.mensajes{
    font-size: 14px;
}

/*Contenido Derecho*/
.box_centro{
    display: flex;  
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    width: 100%;
    min-height: 100vh;
}
.box_centro_logo{
    width: 250px;
    height: auto;
}
.box_texto_centro{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.box_titulo{
    font-size: 45px;  
    margin: 0;
}
.imagen_fondo{
    padding-bottom: 15px;
}
.parte_texto{
    width: 50%;
}


